
.vs/Google.Protobuf_3.1.x/v16/Server/sqlite3/storage.ide-wal
.vs/Google.Protobuf_3.1.x/v16/Server/sqlite3/storage.ide-shm
.vs/Google.Protobuf_3.1.x/v16/Server/sqlite3/storage.ide
.vs/Google.Protobuf_3.1.x/v16/Server/sqlite3/db.lock
.vs/Google.Protobuf_3.1.x/v16/.suo
.vs/Google.Protobuf_3.1.x/v14/.suo
