
.vs/Google.Protobuf_3.1.x/v15/Server/sqlite3/storage.ide
.vs/Google.Protobuf_3.1.x/v15/Server/sqlite3/db.lock
.vs/Google.Protobuf_3.1.x/v15/.suo
AddressBook/obj/Debug/AddressBookDemo.csproj.CopyComplete
AddressBook/obj/Debug/AddressBookDemo.csproj.CoreCompileInputs.cache
AddressBook/obj/Debug/AddressBookDemo.csproj.FileListAbsolute.txt
AddressBook/obj/Debug/AddressBookDemo.csprojResolveAssemblyReference.cache
AddressBook/obj/Debug/AddressBookDemo.exe
AddressBook/obj/Debug/AddressBookDemo.pdb
AddressBook/obj/Debug/AddressBookDemo.csproj.FileListAbsolute.txt
AddressBook/obj/Debug/AddressBookDemo.csprojResolveAssemblyReference.cache
AddressBook/obj/Debug/AddressBookDemo.exe
AddressBook/obj/Debug/AddressBookDemo.pdb
build/AddressBookDemo.exe
build/AddressBookDemo.pdb
build/Google.Protobuf.dll
build/Google.Protobuf.pdb
build/test.exe
build/test.pdb
build/AddressBookDemo.exe
build/AddressBookDemo.pdb
build/Google.Protobuf.dll
build/Google.Protobuf.pdb
Google.Protobuf.Test/bin/Debug/Google.Protobuf.dll
Google.Protobuf.Test/bin/Debug/Google.Protobuf.pdb
Google.Protobuf.Test/bin/Debug/Google.Protobuf.Test.dll
Google.Protobuf.Test/bin/Debug/Google.Protobuf.Test.pdb
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.csproj.CopyComplete
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.csproj.CoreCompileInputs.cache
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.csproj.FileListAbsolute.txt
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.csprojResolveAssemblyReference.cache
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.dll
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.pdb
Google.Protobuf.Test/bin/Debug/Google.Protobuf.dll
Google.Protobuf.Test/bin/Debug/Google.Protobuf.pdb
Google.Protobuf.Test/bin/Debug/Google.Protobuf.Test.dll
Google.Protobuf.Test/bin/Debug/Google.Protobuf.Test.pdb
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.csproj.FileListAbsolute.txt
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.csprojResolveAssemblyReference.cache
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.dll
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.pdb
Google.Protobuf_3.1.x_Nov.30.2016/obj/Debug/Google.Protobuf.dll
Google.Protobuf_3.1.x_Nov.30.2016/obj/Debug/Google.Protobuf.pdb
Google.Protobuf_3.1.x_Nov.30.2016/obj/Debug/Google.Protobuf_3.1.x_Nov.30.2016.csproj.CopyComplete
Google.Protobuf_3.1.x_Nov.30.2016/obj/Debug/Google.Protobuf_3.1.x_Nov.30.2016.csproj.CoreCompileInputs.cache
Google.Protobuf_3.1.x_Nov.30.2016/obj/Debug/Google.Protobuf_3.1.x_Nov.30.2016.csproj.FileListAbsolute.txt
Google.Protobuf_3.1.x_Nov.30.2016/obj/Debug/Google.Protobuf_3.1.x_Nov.30.2016.csprojResolveAssemblyReference.cache
Google.Protobuf_3.1.x_Nov.30.2016/obj/Debug/Google.Protobuf.dll
Google.Protobuf_3.1.x_Nov.30.2016/obj/Debug/Google.Protobuf.pdb
Google.Protobuf_3.1.x_Nov.30.2016/obj/Debug/Google.Protobuf_3.1.x_Nov.30.2016.csproj.FileListAbsolute.txt
test/obj/Debug/test.pdb
test/obj/Debug/test.exe
test/obj/Debug/test.csprojResolveAssemblyReference.cache
test/obj/Debug/test.csproj.FileListAbsolute.txt
test/obj/Debug/test.csproj.CoreCompileInputs.cache
test/obj/Debug/test.csproj.CopyComplete
Google.Protobuf_3.1.x_Nov.30.2016/obj/Debug/Google.Protobuf_3.1.x_Nov.30.2016.csproj.FileListAbsolute.txt
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.pdb
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.dll
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.csprojResolveAssemblyReference.cache
Google.Protobuf.Test/obj/Debug/Google.Protobuf.Test.csproj.FileListAbsolute.txt
Google.Protobuf.Test/bin/Debug/Google.Protobuf.Test.pdb
Google.Protobuf.Test/bin/Debug/Google.Protobuf.Test.dll
build/AddressBookDemo.pdb
build/AddressBookDemo.exe
AddressBook/obj/Debug/AddressBookDemo.pdb
AddressBook/obj/Debug/AddressBookDemo.exe
AddressBook/obj/Debug/AddressBookDemo.csprojResolveAssemblyReference.cache
AddressBook/obj/Debug/AddressBookDemo.csproj.FileListAbsolute.txt
AddressBook/obj/Debug/AddressBookDemo.csproj.FileListAbsolute.txt
AddressBook/obj/Debug/AddressBookDemo.csprojResolveAssemblyReference.cache
/build/*.pdb
/build/*.exe
